#header_wrap{
  width: 100%;
  background: url('../images/coderetreat.jpg') no-repeat;
  background-position: center;
  max-height: 500px;
  height: 460px;
}

.inner{
  max-width: 960px;
}

.inner h1{
  padding-top: 100px;
}

#add_to_calendar {
  display: block;
  z-index: 10;
  padding: 10px 10px 10px 10px;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 120px;
  text-align: center;
  background-color: #0090FF;
}

.description h3{
  color: #fff;
}

.description h3 span{
  font-size: 12px;
  font-weight: 300;
}

.description p{
  color: #afafaf;
}

.centered{
  text-align: center;
}

#image_credits{
  float: right;
  line-height: 24px;
  color: #fff;
}

#image_credits img{
  border: 0;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

#image_credits span{
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
}
